<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="color-scheme" content="dark light">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="{{ site.css-dir | prepend: site.baseurl }}main.css?v={{site.data.changelog-data[0].num}}" media="(min-width: 320px)">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Jost:wght@500&display=swap" rel="stylesheet"> 	<link rel="icon" type="image/png" href="{{ site.baseurl }}favicon.png?v={{site.data.changelog-data[0].num}}">
</head>