---
---
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul{
    list-style: none;
    padding: 0;
}
:root{
    --base-font-size: 17px;
    --heading-font: 'Jost', sans-serif;
    --one-off: 'Lexend Peta';
    --body-font: 'EB Garamond', serif;
    --ms-2:                 0.4rem;
    --ms-1:                 0.6rem;
    --ms0:                  1rem;
    --ms1:                  1.5rem;
    --ms2:                  2.25rem;
    --ms3:                  3.375rem;
    --ms4:                  5rem;
    --ms5:                  7rem;
}
@media all and (min-width: 600px){
    :root{
        --base-font-size: 21px;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --background-color: white;
        --black: rgba(0,0,0,0.8);
        --semi-trans-container: rgba(255,255,255,0.97);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1b1b1b;
        --black: rgba(255,255,255,.9);
        --semi-trans-container: rgba(0,0,0,0.05);
    }
}
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
.visually-hidden:focus {
    clip: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: var(--space-default) 0;
    text-align: center;
    font-weight: 900;
    background: rgba(255, 255, 255, 0.5);
}
html {
    font-size: var(--base-font-size);
    background: var(--background-color);
}
body {
    font-size: 100%;
    font-family: var(--body-font);
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    color: var(--black);
}
main{
    margin: 0 auto;
    height: 100vh;
    max-width: 680px;
}
a{
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    font-weight: 800;
    letter-spacing: -0.04ch;
}
h1{
    font-size: var(--ms4);
    line-height: 0.9;
    margin: 0 0 var(--ms1) 0;
}
h2{
    font-size: var(--ms2);
    text-align: center;
    line-height: 0.9;
    margin-bottom: var(--ms1);
}
h3{
    font-size: var(--ms1);
    line-height: 1;
    margin-bottom: var(--ms-2);
/*    text-transform: uppercase;*/
}
div>p{
    line-height: 1.2;
    font-size: var(--ms0);
    margin-bottom: var(--ms-1);
}
figure{
    margin: var(--ms1) 0;
}
img{
    max-width: 100%;
}
@media (prefers-color-scheme: dark){
    img{
        filter: invert(90%);
    }
}
/*------
Customs
------*/
header.page-header{
    margin: var(--ms4) 0;
}
header.article-layout-header{
    margin: var(--ms-1) ;
}
h1.display, h1.site-title{
    font-family: var(--one-off);
    text-transform: uppercase;
    text-shadow: 
        1px 1px 0px magenta, 
        -1px -1px 0px cyan, 
        -2px 2px 0px yellow 
    ;
}
h1.display{
    text-align: center;
    font-size: var(--ms2);
}
@media all and (min-width: 600px){
    h1.display{
        font-size: var(--ms3);
    } 
}
h1.site-title{
  font-size: var(--ms2);  
}
@media (prefers-color-scheme: dark){
    h1.display, h1.site-title{
        color: white;
    }
}
article.index-list{
    padding: var(--ms2) 0 var(--ms2);
    background: var(--semi-trans-container);
    border-radius: var(--ms-1) var(--ms-1) 0 0;
}
.card{
    background: var(--background-color);
    padding: var(--ms0);
    border-bottom: 1px dotted var(--black);
}
@media all and (min-width: 600px){
    .card{
        padding: var(--ms0) var(--ms0) var(--ms0) 0;
    } 
}
.card:hover{
    border-right: var(--ms-1) solid var(--black);
}
.article-type{
    text-transform: capitalize;
}
.subtitle{
    font-size: var(--ms1);
    text-transform: uppercase;
}
p span.dropcap{
    font-size: var(--ms3);
    font-family: var(--heading-font);
    font-weight: bold;
    line-height: 0.5;
}
.article p{
    margin-bottom: var(--ms1);
}
.article p:last-of-type:after{
    content: '\2042';
    font-family: var(--heading-font);
    font-weight: 700;
    margin-left: var(--ms-2);
}





