---
---
*,
*::before,
*::after {
    box-sizing: border-box;
}
@media (prefers-color-scheme: light) {
    :root {
        --base-font-size: 21px;
        --heading-font: 'Jost', sans-serif;
        --body-font: 'EB Garamond', serif;
        --ms-2:                 0.4rem;
        --ms-1:                 0.6rem;
        --ms0:                  1rem;
        --ms1:                  1.5rem;
        --ms2:                  2.25rem;
        --ms3:                  3.375rem;
        --ms4:                  5rem;
        --ms5:                  7rem;
        --background-color: white;
        --black: rgba(0,0,0,0.8);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --base-font-size: 21px;
        --heading-font: 'Jost', sans-serif;
        --body-font: 'EB Garamond', serif;
        --ms-2:                 0.4rem;
        --ms-1:                 0.6rem;
        --ms0:                  1rem;
        --ms1:                  1.5rem;
        --ms2:                  2.25rem;
        --ms3:                  3.375rem;
        --ms4:                  5rem;
        --ms5:                  7rem;
        --background-color: #1b1b1b;
        --black: rgba(255,255,255,.9);
    }
}

ul{
    list-style: none;
}
a{
    color: ;
}
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
.visually-hidden:focus {
    clip: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: var(--space-default) 0;
    text-align: center;
    font-weight: 900;
    background: rgba(255, 255, 255, 0.5);
}
html {
    font-size: var(--base-font-size);
    background: var(--background-color);
}
body {
    font-size: 100%;
    font-family: var(--body-font);
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    color: var(--black);
}
main{
    margin: 0 auto;
    height: 100vh;
    max-width: 680px;
}
a{color: inherit;}
header.page-header{
    max-width: 100%;
    padding: var(--ms0) var(--ms0) var(--ms2) var(--ms0);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    letter-spacing: -0.04ch;
}
h1{
    font-size: var(--ms4);
    line-height: 0.9;
    margin: 0;
}
h1.display,h1.site-title{
    text-shadow: 1px 1px 0px magenta, -1px -1px 0px cyan, -2px 2px 0px yellow;
}
h1.display{
    text-align: center;
    font-size: var(--ms5);
}
h1.site-title{
    font-size: var(--ms2);
}
h1.site-title a{
    text-decoration: none;
}
@media (prefers-color-scheme: dark){
    h1.display, h1.site-title{
        color: white;
    }
}
h2{
    font-size: var(--ms1);
    text-transform: uppercase;
    text-align: center;
    line-height: 0.9;
}
h3{
    font-size: var(--ms0);
    line-height: 1;
}
div>p{
    line-height: 1.2;
    font-size: var(--ms0);
    text-indent: var(--ms2);
}

span.authorship{
    font-size: var(--ms-1);
    font-weight: 700;
}
p span.dropcap{
    font-size: var(--ms3);
    font-family: var(--heading-font);
    line-height: 0.5;
}

p:last-of-type:after{
    content: '\2042';
    font-family: var(--heading-font);
    font-weight: 700;
    margin-left: var(--ms-2);
}

img{
    max-width: 100%;
}
@media (prefers-color-scheme: dark){
    img{
    filter: invert(90%);
}
}
ul{
    padding: 0;
    list-style: none;
}

.card{
    display: flex;
    flex-direction: row;
    margin-bottom: var(--ms0);
    border: 1px solid white;
    position: relative;
}
.card::before{
    content:" ";
    position:absolute;
    border: 5px solid var(--black);
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}
.card a{
    text-decoration: none;
}
.card div.title{
    background: rgba(0,0,0,0.85);
    color: white;
    font-family: var(--heading-font);
    padding: var(--ms-1);
}
.card div.title:hover{
    box-shadow: 
        1px 1px 0px magenta, 
        -1px -1px 0px cyan, 
        -4px 4px 0px yellow;
}
.card div.author{
    background: rgba(255, 255, 255, 0.9);
    color: black;
    font-size: var(--ms-1);
    padding:var(--ms-1);
}